/Clase-00/BackEjemplo/node_modules
/Clase-00/ServidorPrueba/node_modules
/Clase-01/ProyectoCookie/node_modules
/Clase-02/Sessions/node_modules
/Clase-02/PrimerLogin/node_modules
/Clase-03-LoginConPassport/node_modules
/Clase-04/LoginGithub/node_modules
/Clase-04/JWT/node_modules
/Clase-05-PracticaIntegradora/node_modules
/Clase-06/EjemploJWTCookie/node_modules
/Clase-06/PassportJWT/node_modules
/Clase-07/ProyectoRouter/node_modules
/Clase-08-ProcessEnv/node_modules
/Clase-09-ArquitecturaDeCapas/ProyectoJugueteria/node_modules
/Clase-10/PruebaCORS/server/node_modules
/Clase-11/ProyectoDAO/node_modules
/Clase-12/ProyectoIntegrador/node_modules
/Clase-12/ProyectoIntegrador/server/node_modules
/Clase-13-MailingSMS/Mail/node_modules
/Clase-13-MailingSMS/SMS/node_modules
