<header>
    <h1>Práctica integradora</h1>
    <ul>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/current">Current user</a></li>
    </ul>
</header>